h1 {
	background-color: pink;
	text-align: center;
}
label {
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
}
.sectionSize {
	margin: 10px;
}
.colOne {
	background-color: white;
	/* darkkhaki */
}
.colTwo {
	background-color: white;
}
.histBtnRow {
	margin-top: 5px;
	margin-bottom: 5px;
}
.icons {
	height: 70px;
	width: 70px;
}
.cardTodayDate {
	font-size: 20px;
}
.border-div-five-day-forecast {
	padding-left: 10px;
	padding-right: 10px;
	border:groove rgba(102, 102, 153, 0.2);
  }
  /* .mb-3, .my-3 {
    margin-bottom: 1px;
} */
.bg-color {
    background-color: pink;
}
.text-weather {
    color: lightskyblue;
}
